body {
      margin: 0;
      height: 100vh;
      display: grid;
      place-items: center; /* 单行实现水平垂直居中 */
      background: white;
    }
.rectangle{
    width: 300px;
    height: 300px;
    display: grid;
    background: #ccc;
    position:relative;
    grid-area: 1/1;
}

.sector{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fc0;
}

.sector.top-left {
      top: 0;
      left: 0;
      clip-path: circle(50% at 0 0);
    }

.sector.bottom-right {
      right: 0;
      bottom: 0;
      clip-path: circle(50% at 100% 100%);
    }